*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .wrap{
    position: relative;
    width: 100%;
    height: 1080px;
    background: url("img/t.jpg");
  }
  .card{
    width: 100px;
    height: 200px;
    float:left;
    text-align: center;
    position:relative;
    margin:5px;
  }
  .cardMask{
    width: 100px;
    height: 200px;
    position: absolute;
    background:rgba(0,0,0,0.5);
    display:none;
  }
  .back{
    background:url('./img/back.png') no-repeat;
    background-size: contain;
    width:100%;
    height: 100%;
    position:absolute;

  }
  .front{
    width:100%;
    height: 100%;
    position:absolute;
    display:none;
  }

  /*#wall{
    width: 400px;
    height: 480px;
    position:absolute;
    left:50px;
    top:50px;
    display: none;
  }*/
@keyframes opa{
  from{
    filter:opacity(100%);
  }
  to{
    filter:opacity(0%);
  }
}

#tiktok{
  width:424px;
  height: 20px;
  background:red;
  border:2px solid darkgreen;
  margin:10px auto;
}
#counter{
  width:100%;
  height:100%;
  background:white;
  float:right;
}
.mask{
  width: 1400px;
  height: 1000px;
  position:absolute;
  top: 1000px;
  z-index: 99;
  background: rgba(0,0,0,0.5)
}

.intro{
  width: 400px;
  height: 400px;
  background: gray;
  white-space: pre-line;
  margin:100px auto 0px auto;
  font-weight: bolder;
  font-size: 20px;
  line-height: 40px;
  font-family: "微軟正黑體";
  padding:20px;
}

.intro button{
  font-size:20px;
  display: block;
  margin:70px auto 0 auto;
  padding:10px;
}